header {

    background-color: $primary-color;
    img {
        width: 30px;
        height: 30px;
        float: left;
    }
    h1{
        color: $text-color;
    }

}

nav {

    background-color: $secondary-color;
}



